<!doctype html>
<html class="light" lang="en" th:fragment="parent(content, title)"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title data-th-replace="${title}">SCM - Mitanshu</title>
    <link rel="stylesheet" data-th-href="@{'/css/main.css'}"/>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet"/>
</head>
<body>
<header data-th-insert="~{fragments/navbar :: navbar}"></header>
<main data-th-replace="${content}"></main>
</body>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>